<!-- Site -->
<ng-template #demandes><app-demandes></app-demandes></ng-template>
<ng-template #pages><app-pages></app-pages></ng-template>
<ng-template #blog><app-blog></app-blog></ng-template>
<ng-template #galerie><app-galerie></app-galerie></ng-template>

<!-- Application -->
<ng-template #clients><app-clients [holdingName]="holdingName"></app-clients></ng-template>
<ng-template #utilisateurs><app-utilisateurs></app-utilisateurs></ng-template>
<ng-template #offres><app-offres></app-offres></ng-template>
<ng-template #logs><app-logs></app-logs></ng-template>
<ng-template #engagementClient><app-engagement-client></app-engagement-client></ng-template>

<!-- Utilisateurs -->
<ng-template #comptes><app-comptes></app-comptes></ng-template>

<carded-fullwidth-tabbed-2 [categoryTitle]='categoryTitle'>
    <ng-container #pageContainer></ng-container>
</carded-fullwidth-tabbed-2>
