<table mat-table [dataSource]="dataSource" multiTemplateDataRows class="mat-elevation-z8">
    <ng-container matColumnDef="{{column}}" *ngFor="let column of columnsToDisplay">
        <th mat-header-cell *matHeaderCellDef> {{column}} </th>
        <ng-container *ngIf="column !== 'Statut'; else stateIcon">
            <td mat-cell *matCellDef="let element" (click)="holdingUrl(element.Holding)"> {{element[column]}} </td>
        </ng-container>
        <ng-template #stateIcon>
            <ng-container *ngIf="column === 'Statut'; else actionIcon">
                <td mat-cell *matCellDef="let element">
                    <mat-icon [ngClass]="{'red-400-fg': element[column] === 'remove_circle', 'green-400-fg': element[column] === 'radio_button_checked', 'orange-400-fg': element[column] === 'radio_button_unchecked' }" aria-hidden="false" aria-label="State icon">{{element[column]}}</mat-icon>
                </td>
            </ng-container>
        </ng-template>
        <ng-template #actionIcon>
                <ng-container>
                    <td mat-cell *matCellDef="let element">
                        <mat-icon [ngClass]="{'red-400-fg': element[column] === 'delete'}" aria-hidden="false" aria-label="Action icon">{{element[column]}}</mat-icon>
                    </td>
                </ng-container>
            </ng-template>
    </ng-container>

    <!-- Expanded Content Column -
    The detail row is made up of this one column that spans across all columns -->
    <ng-container matColumnDef="expandedDetail">
        <td mat-cell *matCellDef="let element" [attr.colspan]="columnsToDisplay.length">
            <div class="example-element-detail" [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">
                <ng-template #clients>
                    <div class="pt-20">
                        <div class="px-20 d-flex flex-column w-100per">
                            <div class="d-flex m-auto w-100per py-12">
                                <h3 class="mat-display-1 mb-0 pb-8">{{element.Holding}}</h3>
                                <div class="d-flex content-center align-center">
                                    <mat-form-field class="mx-8">
                                        <mat-label>Type de Contrat</mat-label>
                                        <select matNativeControl #contractType>
                                            <option value="" selected disabled></option>
                                            <option *ngFor="let contract of contracts" [value]="contract.type">
                                                {{contract.type}}
                                            </option>
                                        </select>
                                    </mat-form-field>
                                    <div *ngIf="contractType.value === 'Annuel'">
                                        <mat-form-field class="w-120 px-4">
                                            <mat-label>Début</mat-label>
                                            <input matInput [matDatepicker]="debutDu" placeholder="Du" required>
                                            <mat-datepicker-toggle matSuffix [for]="debutDu"></mat-datepicker-toggle>
                                            <mat-datepicker #debutDu></mat-datepicker>
                                        </mat-form-field>
                                        <mat-form-field class="w-120 px-4">
                                            <mat-label>Fin</mat-label>
                                            <input matInput [matDatepicker]="finAu" placeholder="Au" required>
                                            <mat-datepicker-toggle matSuffix [for]="finAu"></mat-datepicker-toggle>
                                            <mat-datepicker #finAu></mat-datepicker>
                                        </mat-form-field>
                                    </div>
                                    <div *ngIf="contractType.value === 'Test'">
                                        <mat-form-field class="w-140 px-4">
                                            <input matInput placeholder="Nombre de mois" required>
                                        </mat-form-field>
                                        <mat-form-field class="w-120 px-4">
                                            <mat-label>Début</mat-label>
                                            <input matInput [matDatepicker]="debutDu" placeholder="Du" required>
                                            <mat-datepicker-toggle matSuffix [for]="debutDu"></mat-datepicker-toggle>
                                            <mat-datepicker #debutDu></mat-datepicker>
                                        </mat-form-field>
                                        <!-- Prefill with 1 year from first date? -->
                                        <mat-form-field class="w-120 px-4">
                                            <mat-label>Fin</mat-label>
                                            <input matInput [matDatepicker]="finAu" placeholder="Au" required>
                                            <mat-datepicker-toggle matSuffix [for]="finAu"></mat-datepicker-toggle>
                                            <mat-datepicker #finAu></mat-datepicker>
                                        </mat-form-field>
                                    </div>
                                    <div *ngIf="contractType.value === 'Mensuel'">
                                        <mat-form-field class="w-160 mx-8">
                                            <mat-label>Moyen de Paiement</mat-label>
                                            <select matNativeControl #paymentSelect>
                                                <option value="" selected disabled></option>
                                                <option *ngFor="let payment of payments" [value]="payment.type">
                                                    {{payment.type}}
                                                </option>
                                            </select>
                                        </mat-form-field>
                                        <mat-form-field *ngIf="paymentSelect.value === 'Autre'" class="w-180 px-4">
                                            <input matInput placeholder="Paiement" required>
                                        </mat-form-field>
                                    </div>
                                </div>
                            </div>
                            <div class="d-flex flex-column w-100per">
                                <p class="mat-headline">
                                    {{element.CSM}}
                                    <span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
                                    {{element.Sales}}
                                </p>
                                <p class="mat-title">{{element['Origine du Contact']}}</p>
                            </div>
                        </div>
                        <mat-tab-group mat-stretch-tabs class="example-stretched-tabs mat-elevation-z4">
                            <mat-tab label="Générale">
                                <div class="px-40 pt-40 pb-56">
                                    <div class="d-flex flex-column">
                                        <div class="d-flex">
                                            <mat-form-field class="mx-8 w-336">
                                                <!-- 
                                                    Had to use native select
                                                    Angular's one kept cutting short the label
                                                -->
                                                <mat-label>CSM</mat-label>
                                                <select [value]="element.CSM" matNativeControl>
                                                    <option value="" selected disabled></option>
                                                    <option *ngFor="let csm of csms" [value]="csm.name">
                                                        {{csm.name}}
                                                    </option>
                                                </select>
                                            </mat-form-field>
                                            <mat-form-field class="mx-8 w-336">
                                                <mat-label>Sales</mat-label>
                                                <select [value]="element.Sales" matNativeControl>
                                                    <option value="" selected disabled></option>
                                                    <option *ngFor="let sale of sales" [value]="sale.name">
                                                        {{sale.name}}
                                                    </option>
                                                </select>
                                            </mat-form-field>
                                        </div>
                                        <div class="d-flex">
                                            <mat-form-field class="mx-8 w-336">
                                                <mat-label>Taille de l'entreprise</mat-label>
                                                <select matNativeControl>
                                                    <option value="" selected disabled></option>
                                                    <option *ngFor="let tailleEntreprise of taillesEntreprise" [value]="tailleEntreprise.size">
                                                        {{tailleEntreprise.size}}
                                                    </option>
                                                </select>
                                            </mat-form-field>
                                            <mat-form-field class="mx-8 w-336">
                                                <mat-label>Secteur</mat-label>
                                                <select matNativeControl>
                                                    <option value="" selected disabled></option>
                                                    <option *ngFor="let secteur of secteurs" [value]="secteur.name">
                                                        {{secteur.name}}
                                                    </option>
                                                </select>
                                            </mat-form-field>
                                        </div>
                                    </div>
                                    <div class="w-50per mt-24">
                                        <p class="mat-title mb-24">Facturation</p>
                                        <div>
                                            <form class="">
                                                <div class="d-flex content-evenly">
                                                    <mat-form-field class="w-100per mx-20">
                                                        <input matInput type="text" placeholder="Nom" value="{{element.Contact.Nom}}">
                                                    </mat-form-field>
                                                    <mat-form-field class="w-100per mx-20">
                                                            <input matInput type="text" placeholder="Prénom" value="{{element.Contact['Prénom']}}">
                                                    </mat-form-field>
                                                </div>
                                                <div class="d-flex content-evenly">
                                                    <mat-form-field class="w-100per mx-20">
                                                        <input matInput type="text" placeholder="Email" value="{{element.Contact.Email}}">
                                                    </mat-form-field>
                                                </div>
                                                <div class="d-flex content-evenly">
                                                    <mat-form-field class="w-100per mx-20">
                                                        <input matInput type="text" placeholder="Raison Sociale" value="{{element.Contact['Raison Sociale']}}">
                                                    </mat-form-field>
                                                </div>
                                                <div class="d-flex content-evenly">
                                                    <mat-form-field class="w-100per mx-20">
                                                        <input matInput type="text" placeholder="Adresse" value="{{element.Contact.Adresse}}">
                                                    </mat-form-field>
                                                    <mat-form-field class="w-100per mx-20">
                                                            <input matInput type="text" placeholder="Code Postal" value="{{element.Contact['Code Postal']}}">
                                                    </mat-form-field>
                                                </div>
                                                <div class="d-flex content-evenly">
                                                    <mat-form-field class="w-100per mx-20">
                                                        <input matInput type="text" placeholder="Ville" value="{{element.Contact.Ville}}">
                                                    </mat-form-field>
                                                    <mat-form-field class="w-100per mx-20">
                                                            <input matInput type="text" placeholder="Pays" value="{{element.Contact.Pays}}">
                                                    </mat-form-field>
                                                </div>
                                                <div class="d-flex mx-20 mt-8 content-right">
                                                    <button type="submit" mat-stroked-button color="primary">Mise à jour Quaderno</button>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </mat-tab>
                            <mat-tab label="Utilisateurs">
                                <table mat-table [dataSource]="users" class="mat-elevation-z8 px-8 pt-20 pb-56">

                                    <ng-container matColumnDef="{{userColumn}}" *ngFor="let userColumn of usersColumns">
                                        <th mat-header-cell *matHeaderCellDef> {{userColumn}} </th>
                                        <td mat-cell *matCellDef="let user"> {{user[userColumn]}} </td>
                                    </ng-container>

                                    <tr mat-header-row *matHeaderRowDef="usersColumns"></tr>
                                    <tr mat-row *matRowDef="let row; columns: usersColumns;"></tr>
                                    <!-- <ng-container matColumnDef="expandedDetail">
                                        <td mat-cell *matCellDef="let element" [attr.colspan]="columnsToDisplay.length">
                                            <div class="example-element-detail" [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">
                                            
                                            </div>
                                        </td>
                                    </ng-container> -->

                                </table>
                            </mat-tab>
                            <mat-tab label="Entreprises">
                                <table mat-table [dataSource]="entreprises" class="mat-elevation-z8 px-8 pt-20 pb-56">

                                    <ng-container matColumnDef="{{entrepriseColumn}}" *ngFor="let entrepriseColumn of entreprisesColumns">
                                        <th mat-header-cell *matHeaderCellDef> {{entrepriseColumn}} </th>
                                        <td mat-cell *matCellDef="let entreprise"> {{entreprise[entrepriseColumn]}} </td>
                                    </ng-container>

                                    <tr mat-header-row *matHeaderRowDef="entreprisesColumns"></tr>
                                    <tr mat-row *matRowDef="let row; columns: entreprisesColumns;"></tr>

                                </table>
                            </mat-tab>
                            <mat-tab label="Filiales"> Content 3 </mat-tab>
                            <mat-tab label="Fonctionnalités"> Content 3 </mat-tab>
                            <mat-tab label="Site carrière"> Content 3 </mat-tab>
                            <mat-tab label="Multi-diffusion"> Content 3 </mat-tab>
                        </mat-tab-group>
                    </div>
                </ng-template>
                <ng-container *ngTemplateOutlet="clients"></ng-container>
            </div>
        </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
    <tr mat-row *matRowDef="let element; columns: columnsToDisplay;" class="example-element-row"
        [class.example-expanded-row]="expandedElement === element"
        (click)="expandedElement = expandedElement === element ? null : element">
    </tr>
    <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr>
</table>