<div class="page-layout carded fullwidth tabbed inner-scroll">

    <!-- TOP BACKGROUND -->
    <div class="top-bg accent"></div>
    <!-- / TOP BACKGROUND -->

    <!-- CENTER -->
    <div class="center">

        <!-- CONTENT HEADER -->
        <div class="header accent p-24" fxLayout="row" fxLayoutAlign="start center">
            <h2 class="m-0 mat-display-2"> {{ categoryTitle }} </h2>
        </div>
        <!-- / CONTENT HEADER -->

        <!-- CONTENT CARD -->
        <div class="content-card">

            <ng-template #form>
                <div class="mx-24 mt-8 d-flex flex-column ">
                    <div class="toolbar">
                        <div class="w-100per">
                            <mat-form-field  class="w-100per">
                                <input (click)="toggleIsExpanded()" matInput placeholder="Holding / Company / Subsidiary">
                            </mat-form-field>
                        </div>
                        <div [@filtersExpand]="isExpanded ? 'expanded' : 'collapsed'">
                            <div class="d-flex flex-column mt-12">
                                <div class="d-flex">
                                    <div class="mx-20">
                                        <p class="title">Création</p>
                                        <mat-form-field class="mx-8">
                                            <mat-label>Du</mat-label>
                                            <input matInput [matDatepicker]="creationDu" placeholder="Choose a date">
                                            <mat-datepicker-toggle matSuffix [for]="creationDu"></mat-datepicker-toggle>
                                            <mat-datepicker #creationDu></mat-datepicker>
                                        </mat-form-field>
                                        <mat-form-field class="mx-8">
                                            <mat-label>Au</mat-label>
                                            <input matInput [matDatepicker]="creationAu" placeholder="Choose a date">
                                            <mat-datepicker-toggle matSuffix [for]="creationAu"></mat-datepicker-toggle>
                                            <mat-datepicker #creationAu></mat-datepicker>
                                        </mat-form-field>
                                    </div>
                                    <div class="mx-20">
                                        <p class="title">Type de Contrat</p>
                                        <div class="d-flex align-center">
                                            <mat-form-field class="mx-8">
                                                <mat-label>Type de Contrat</mat-label>
                                                <select id="test" matNativeControl #contractType>
                                                    <option value="" selected disabled></option>
                                                    <option id="contract.type" *ngFor="let contract of contracts" [value]="contract.type">
                                                        {{contract.type}}
                                                    </option>
                                                </select>
                                            </mat-form-field>
                                            <div *ngIf="contractType.value === 'Annuel'">
                                                <mat-form-field class="w-120 px-4">
                                                    <mat-label>Début</mat-label>
                                                    <input matInput [matDatepicker]="debutDu" placeholder="Du" required>
                                                    <mat-datepicker-toggle matSuffix [for]="debutDu"></mat-datepicker-toggle>
                                                    <mat-datepicker #debutDu></mat-datepicker>
                                                </mat-form-field>
                                                <mat-form-field class="w-120 px-4">
                                                    <mat-label>Fin</mat-label>
                                                    <input matInput [matDatepicker]="finAu" placeholder="Au" required>
                                                    <mat-datepicker-toggle matSuffix [for]="finAu"></mat-datepicker-toggle>
                                                    <mat-datepicker #finAu></mat-datepicker>
                                                </mat-form-field>
                                            </div>
                                            <div *ngIf="contractType.value === 'Test'">
                                                <mat-form-field class="w-140 px-4">
                                                    <input matInput placeholder="Nombre de mois" required>
                                                </mat-form-field>
                                                <mat-form-field class="w-120 px-4">
                                                    <mat-label>Début</mat-label>
                                                    <input matInput [matDatepicker]="debutDu" placeholder="Du" required>
                                                    <mat-datepicker-toggle matSuffix [for]="debutDu"></mat-datepicker-toggle>
                                                    <mat-datepicker #debutDu></mat-datepicker>
                                                </mat-form-field>
                                                <!-- Prefill with 1 year from first date? -->
                                                <mat-form-field class="w-120 px-4">
                                                    <mat-label>Fin</mat-label>
                                                    <input matInput [matDatepicker]="finAu" placeholder="Au" required>
                                                    <mat-datepicker-toggle matSuffix [for]="finAu"></mat-datepicker-toggle>
                                                    <mat-datepicker #finAu></mat-datepicker>
                                                </mat-form-field>
                                            </div>
                                            <div *ngIf="contractType.value === 'Mensuel'">
                                                <mat-form-field class="w-160 mx-8">
                                                    <mat-label>Moyen de Paiement</mat-label>
                                                    <select matNativeControl #paymentSelect>
                                                        <option value="" selected disabled></option>
                                                        <option *ngFor="let payment of payments" [value]="payment.type">
                                                            {{payment.type}}
                                                        </option>
                                                    </select>
                                                </mat-form-field>
                                                <mat-form-field *ngIf="paymentSelect.value === 'Autre'" class="w-180 px-4">
                                                    <input matInput placeholder="Paiement" required>
                                                </mat-form-field>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="mx-20">
                                        <p class="title">Statut</p>
                                        <mat-radio-group aria-label="Select an option">
                                            <mat-radio-button class="mx-8" value="actif">
                                                <p class="green-400-bg p-4 rounded fuse-white-500-fg">
                                                    Actif
                                                </p>
                                            </mat-radio-button>
                                            <mat-radio-button  class="mx-8" value="inactif">
                                                <p class="orange-400-bg p-4 rounded fuse-white-500-fg">
                                                    Inactif
                                                </p>
                                            </mat-radio-button>
                                            <mat-radio-button class="mx-8" value="bloque">
                                                <p class="red-400-bg p-4 rounded fuse-white-500-fg">
                                                    Bloqué
                                                </p>
                                            </mat-radio-button>
                                        </mat-radio-group>
                                    </div>
                                </div>
                                <div class="d-flex">
                                    <div class="mx-20">
                                        <p class="title">CSM</p>
                                        <mat-form-field class="mx-8">
                                            <select matNativeControl #contractType>
                                                <option value="" selected disabled></option>
                                                <option *ngFor="let csm of csmList" [value]="csm">
                                                    {{csm}}
                                                </option>
                                            </select>
                                        </mat-form-field>
                                    </div>
                                    <div class="mx-20">
                                        <p class="title">Sales</p>
                                        <mat-form-field class="mx-8">
                                            <select matNativeControl #contractType>
                                                <option value="" selected disabled></option>
                                                <option *ngFor="let sales of salesList" [value]="sales">
                                                    {{sales}}
                                                </option>
                                            </select>
                                        </mat-form-field>
                                    </div>
                                    <div class="mx-20">
                                        <p class="title">Nombre d'offres en lignes</p>
                                        <mat-form-field class="mx-8">
                                            <input matInput placeholder="De">
                                        </mat-form-field>
                                        <mat-form-field class="mx-8">
                                            <input matInput placeholder="A">
                                        </mat-form-field>
                                    </div>
                                    <div class="mx-20">
                                        <p class="title">Nombre d'utilisateurs</p>
                                        <mat-form-field class="mx-8">
                                            <input matInput placeholder="De">
                                        </mat-form-field>
                                        <mat-form-field class="mx-8">
                                            <input matInput placeholder="A">
                                        </mat-form-field>
                                    </div>
                                </div>
                                <div class="d-flex">
                                    <div class="mx-20">
                                        <p class="title">Département</p>
                                        <mat-form-field class="mx-8">
                                            <select matNativeControl #contractType>
                                                <option value="" selected disabled></option>
                                                <option *ngFor="let departement of departementList" [value]="departement">
                                                    {{departement}}
                                                </option>
                                            </select>
                                        </mat-form-field>
                                    </div>
                                    <div class="mx-20">
                                        <p class="title">Pays</p>
                                        <mat-form-field class="mx-8">
                                            <select matNativeControl #contractType>
                                                <option value="" selected disabled></option>
                                                <option *ngFor="let country of countryList" [value]="country">
                                                    {{country}}
                                                </option>
                                            </select>
                                        </mat-form-field>
                                    </div>
                                    
                                    <div class="mx-20">
                                        <p class="title">Type de Secteur</p>
                                        <mat-form-field class="mx-8 w-380">
                                            <input type="text" placeholder="Secteur" aria-label="Type de secteur" matInput [formControl]="sectorControl" [matAutocomplete]="auto">
                                            <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
                                                <mat-option *ngFor="let sector of sectorFilteredOptionList | async" [value]="sector">
                                                {{sector}}
                                                </mat-option>
                                            </mat-autocomplete>
                                        </mat-form-field>
                                    </div>
                                    <div class="mx-20">
                                        <p class="title">Taille de l'entreprise</p>
                                        <mat-form-field class="mx-8">
                                            <select matNativeControl #contractType>
                                                <option value="" selected disabled></option>
                                                <option *ngFor="let entrepriseSize of entrepriseSizeList" [value]="entrepriseSize">
                                                    {{entrepriseSize}}
                                                </option>
                                            </select>
                                        </mat-form-field>
                                    </div>
                                </div>
                                <div class="mt-0 mb-28 mx-20 d-flex flex-column content-center">
                                    <p class="title">Fonctionnalités</p>
                                    <mat-form-field>
                                        <mat-label>Fonctionnalités</mat-label>
                                        <mat-select [formControl]="functionnalityControl" [(value)]="defaultFunctionnality" multiple>
                                            <mat-option *ngFor="let functionnality of functionnalityList" [value]="functionnality">{{functionnality}}</mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>
                            </div>
                            <!-- <div class="">
                                <mat-form-field></mat-form-field>
                            </div>
                            <div class="">
                                <mat-form-field></mat-form-field>
                            </div>
                            <div class="">
                                <mat-form-field></mat-form-field>
                            </div>
                            <div class="">
                                <mat-form-field></mat-form-field>
                            </div>
                            <div class="">
                                <mat-form-field></mat-form-field>
                            </div>
                            <div class="">
                                <mat-form-field></mat-form-field>
                            </div> -->
                        </div>
                    </div>
                </div>
                <div class="content ps ps--active-y">
                    <ng-content></ng-content>
                </div>
            </ng-template>

            <!-- <ng-template #tabbed>
                <div class="content">
                    <mat-tab-group>
                        <mat-tab  label='tabTitle'>
                            <div class="tab-content p-24">
                                <ng-content></ng-content>
                            </div>
                        </mat-tab>

                    </mat-tab-group>
                </div>
            </ng-template>
                
            <ng-template #tabless>
                <div class="toolbar px-24 py-8"></div>
                <div class="content ps ps--active-y">
                    <ng-content></ng-content>
                </div>
            </ng-template> -->

            <ng-container *ngTemplateOutlet="form" #layoutContainer></ng-container>

        </div>
        <!-- CONTENT CARD -->

    </div>
    <!-- / CENTER -->

</div>


